/* Remove blue background on click in mobile */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Navbar */

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

.tham:hover {
    @apply opacity-100;
}

input[type='radio'] + label span {
    transition: background 0.1s, transform 0.1s;
}

input[type='radio']:hover + label span {
    transform: scale(1.03);
    box-shadow: 0 0 0 5px rgb(200, 200, 200) inset;
}

input[type='radio']:checked + label span {
    background-color: rgb(206, 206, 206);
    box-shadow: 0 0 0 2px rgba(51, 51, 51) inset;
}

input[type='radio']:checked + label {
    color: rgb(235, 235, 235);
}

img#react-modal-image-img.__react_modal_image__large_img {
    max-width: 175%;
    height: auto;
}

/**
 * Main wrapper
 */
.select-search {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
    position: relative;
}

.select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    right: 19px;
    width: 11px;
    height: 11px;
}

/**
 * Input
 */
.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 40px 0 16px;
    @apply text-lg text-gray-100 bg-gray-900 border border-gray-500 rounded;

    outline: none;
    font-family: 'Oswald', sans-serif;

    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
    @apply relative overflow-auto border border-gray-500 rounded max-h-64;
}

/**
* Options
*/
.select-search__options {
    list-style: none;
    @apply bg-gray-900;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
    @apply border-t border-gray-700;
}

/**
* Option
*/
.select-search__option,
.select-search__not-found {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    @apply text-lg text-gray-500 bg-gray-900;

    border: none;
    outline: none;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    cursor: pointer;
}

.select-search--multiple .select-search__option {
    @apply h-12;
}

.select-search__option.is-selected {
    @apply bg-gray-700;
    @apply text-gray-100;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    @apply bg-gray-800;
    @apply text-gray-300;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    @apply bg-gray-600 opacity-90;
    @apply text-white;
}

.select-search.is-loading .select-search__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
    cursor: pointer;
}

/**
 * Modifiers
 */
.select-search--multiple {
    border-radius: 3px;
    overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 2px solid #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
    pointer-events: none;
}

.select-search--multiple .select-search__input {
    cursor: initial;
}

.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
    @apply border-gray-400;
}

.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 360px;
}

.select-search--multiple .select-search__select {
    @apply relative overflow-auto border border-gray-500 rounded max-h-64;
}

.select-search__not-found {
    height: auto;
    padding: 16px;
    text-align: center;
    color: #888;
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

.fade-in {
    animation: animation-fade-in 1s;
}

.fade-out {
    animation: animation-fade-out 1s;
}

.fade-in-fast {
    animation: animation-fade-in 0.4s;
}

.fade-out-fast {
    animation: animation-fade-out 0.4s;
}

@keyframes animation-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animation-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.rtl-grid {
    direction: rtl;
}

.ltr-grid {
    direction: ltr;
}

/**
 * Use this directive to control where Tailwind injects the responsive
 * variations of each utility.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind screens;

@layer base {
    button {
        @apply focus:outline-none;
    }
}

/* This utility class handles the bottom bar on newer iPhones without the “Home” button. Without it, some elements can fall under the bar, making them unreadable and tough to tap. */
@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}
